body{
    font-family: 'Roboto Condensed', Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent!important;
    overflow-y: hidden;
}
.bi {

    filter:invert(90%);
}
.text-white{
    fill: white;
    color: white;
}
hr {
    width: 65px;
    margin-left: 0px;
    color: rgb(0, 0, 0);

}
.btn2 {
    transition: all .5s ease;
    border-radius: 30px;
    color: #07043e;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #07043e;
    margin:0px;
}

/*---------------- Loader Starts----------------------- */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddd;
    border-top-color: #07043e;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/*---------------- Loader ends----------------------- */
/* Table Styles */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    width: 700px;
}

.table-wrapper-no-shadow {
    margin: 10px 70px 70px;
}

.top-rad {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.fl-table {
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    opacity: 80%;
}

    .fl-table td, .fl-table th {
        text-align: center;
        padding: 8px;
    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 16px;
    }

    .fl-table thead th {
        color: #ffffff;
        background: #06032f;
        opacity: 95%;
    }

.th-rad {
    color: #ffffff;
    background: #06032f;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}