
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus,
    textarea:focus,
    input:focus {
      font-size: 16px;
    }
  }
.logo{
  margin-bottom: 20px;
}
#login {
    background-image: url("../../static/RPGist-login-background-page.jpg");
    background-size: 1890px 1090px;
    max-width: 1890px;
    max-height: 1090px;
    overflow-x: hidden;
    font-family: Helvetica;
    font-size: 16px;
}
#sobre{
    background: transparent;
    background-size: 1890px 1090px;
    max-width: 1890px;
    max-height: 1090px;
    overflow-x: hidden;
    font-family: Helvetica;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10%;
}

.login-box {
    padding:5%;
    background-color: #00060e;
    border-radius: 10%;
    text-align: center;
    box-shadow: black;
    height: 500px;
}

#buttonLogin {
    font-size: 10px;
    padding: 14px 40px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #596de1;
    transition-duration: 0.4s;
    margin-top: 10px;
}

#buttonLogin:hover {
  background-color: #4458cc;
  color: white;
}
/*---------------- Loader Starts----------------------- */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
  opacity: 0;
  visibility: hidden;
}
.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddd;
  border-top-color: #07043e;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading{
  from{
      transform: rotate(0turn);
  }
  to{
      transform: rotate(1turn);
  }
}
/*---------------- Loader ends----------------------- */
